/* CSS */
.main {
    background-image: url(images/Designer.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

.main2 {
    background-color: orange;
    height: 400px;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-6 {
    flex-basis: 50%;
    margin: 20px;
}

.butt {
    border-radius: 25px;
    background-color: yellow;
    color: #635439;
    padding: 10px 20px;}